@import '../../.cache/wallust/colors-wlogout.css';

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: alpha(@color0, 0.66);
}

button {
    border-radius: 10px;
    border-color: @color8;
	margin: 15px;
	padding-bottom: 20px;
	text-decoration-color: @color7;
    color: @color7;
	background-color: @color1;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	font-size: 24px;
	text-shadow: none;
}

button:focus, button:active, button:hover {
	background-color: @color4;
	outline-style: none;
}

#lock {
    background-image: image(url("../../.cache/wallust/wlogout/lock.svg"));
}

#logout {
    background-image: image(url("../../.cache/wallust/wlogout/logout.svg"));
}

#suspend {
    background-image: image(url("../../.cache/wallust/wlogout/suspend.svg"));
}

#hibernate {
    background-image: image(url("../../.cache/wallust/wlogout/hibernate.svg"));
}

#shutdown {
    background-image: image(url("../../.cache/wallust/wlogout/shutdown.svg"));
}

#reboot {
    background-image: image(url("../../.cache/wallust/wlogout/reboot.svg"));
}